.drone-info-box {
	-fx-padding: 0 0 0 5;
	-fx-background-color: #525252;
}

.button-box {
	-fx-background-color: #20261c;
/*				         rgba(0,0,0,0.08),
				         linear-gradient(#f2f2f2 0%, #204620 100%);
*/
    -fx-padding: 0 30 0 30;
    -fx-text-fill: #242d35;
    -fx-font-size: 15px;
}

.buttons {
	-fx-font-size: 20px;
	-fx-font-family: "agency FB";
}

.list {
	-fx-background-color: #20261c;
}

.list-inside {
	-fx-background-color: #525252;
}

.canvas {
	-fx-background-color: #20261c;
	-fx-text-fill: red;
	-fx-font-size: 20px;
	-fx-font-family: "agency FB";
}